<div class="product">
  <div class="row">
    <div class="small-12 columns"><h3> <%= link_to product.name, product_path(product)%> </h3></div>
    <div class="small-6 columns"><p> $<%= product.formatted_price %> </p></div>
  </div>
  <div class="row"><div class="small-12 columns"><p> <%= product.description %> </p></div></div>
</div>