<div class="row">
  <div class="small-12 column"><h2>Welcome to Rainforest</h2></div>
  <div class="small-12 column"><p><%= link_to "Got a product you want to push?  Click here", new_product_path %></p></div>
</div>
<%= render partial: 'product', collection: @products %>